.login-container {
    padding: 20px;
    margin: 90px auto;
    border: 2px solid black;
    width: 400px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.error-message {
    color: red;
    margin-top: 10px;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.submit-button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0056b3;
}

.register-button {
    text-decoration: underline;
    color: #007bff;
    cursor: pointer;
    margin-top: 15px;
    display: inline-block;
    transition: color 0.3s;
}

.register-button:hover {
    color: #0056b3;
}
